// vendors
@import './vendors/_tailwind';

// base
@import './base/_reset';

.product-cart-item-collapse {
  .ant-collapse-header {
    padding-left: 0 !important;
  }
  .ant-collapse-expand-icon {
    padding-inline-end: 4px !important;
  }
  .ant-collapse-content-box {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.ant-popover-inner {
  padding: 0 !important;
}

.primary-header-menu-item {
  .ant-popover-content {
    max-height: 200px !important;
    overflow-y: auto !important;
  }
}
